/* css styles */
.scrollable-table {
    overflow-x: auto;
    display: block;
    max-width: 100%; /* You can adjust this value */
}

.scrollable-table table {
    width: auto; /* Optional: for wider tables */
}
